.box {
    border: 1px solid #f3f1f1;
    box-shadow: 0px 10px 20px #e5e3f0;
    border-radius: 0 0 7px 7px;
    width: 100%;
    padding-top: 10px;
    height: 100%;
    margin-top: 20px;
}

.block {
    display: block;
    margin-bottom: 25px;
    padding-left: 20px;
}

.p {
    padding-top: 15px;
    padding-left: 0;
}

.title {
    padding: 0;
    font-size: 24px;
    margin-bottom: 15px;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: rgb(94, 94, 248);
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    cursor: pointer;
}

h2 {
    padding-top: 20px;
}

.name {
    background-color: rgb(80, 74, 74);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px 3px 0 0;
    margin-right: 20px;
    font-size: 13px;
}

a {
    color: white;
    padding-top: 3px;
}

.delete {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.body {
    height: 40px;
    background-color: rgb(239, 239, 250);
    border-radius: 0 0 3px 3px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 12px;
    margin-right: 20px;
    font-size: 11px;
}
.right{
    transition: width 1s ease;
    width: 0%;
}

@media (max-width:768px){
    .right{
        width: 100%;
    }
}
@media (min-width:769px) {
    .open {
        margin-left: 20px;
        width: 100%;
    }
    .box{
        margin-top: 0;
    }
}