.section {
    padding: 24px 48px;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: auto;
}

.box {
    box-shadow: 0px 10px 20px #e5e3f0;
    border-radius: 0 0 7px 7px;
    position: relative;
    margin-left: -25px;
    margin-right: -25px;
}

.block {
    margin-bottom: 20px;
    margin-left: 20px;
}

.button {
    min-width: 115px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #d8d6d6;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 20px;
}

img {
    height: 15px;
}

span {
    margin-left: 10px;
}

.choice {
    margin-left: -10px;
    padding-left: 5px;
    padding-right: 20px;
}

.user {
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 400;
    margin-left: 20px;
}